
.results {
    /* padding: 15px; */
    margin-top: 5px;
    width: 500px;
    height: 300px;
    background-color: rgb(247, 229, 230);
    border-radius: 10px;
    box-shadow: rgba(7, 22, 100, 0.292) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }

  .result-container{
   align-items: center;
    flex-grow: 1;
    display: inline-flex;
    width: 100%;
    padding: 15px;
}
.result-container:hover{
    background-color: rgb(252, 240, 240);
    transition: .7s ease-out;
}

.result-container:hover .add-button{
    font-size: 1.6em;
    transition: .7s ease-out;
}

  .result {
    display: block;
   flex-direction: row;
   width: 80%;
   
  }


  .add-button{
    width: auto;
    float: right;
   

  }

